<div style="padding: 16px">

  <sly-field title="Image Quality Analyzer">

    <sly-field title="Blur threshold">
      <el-input-number v-model="state.blurTh" :min="1" />
    </sly-field>

    <sly-field title="Low brightness">
      <el-input-number v-model="state.lowBrightness" :min="0" />
    </sly-field>

    <sly-field title="High brightness">
      <el-input-number v-model="state.highBrightness" :min="0" />
    </sly-field>

    <sly-field title="Grayscale tolerance">
      <el-input-number v-model="state.grayscaleTol" :min="0" />
    </sly-field>

    <sly-field>
      <el-checkbox v-model="state.exportCsv">Export CSV</el-checkbox>
    </sly-field>

    <el-divider></el-divider>

    <!-- 🔥 THIS WILL NOW TRIGGER BACKEND -->
    <el-button type="primary" @click="command='do'">
      Run
    </el-button>

  </sly-field>

</div>
