<div>
  <sly-field title="Image Quality Analyzer">
    <el-form label-position="top">

      <el-form-item label="Blur threshold">
        <el-input-number v-model="state.blurTh" :min="1" />
      </el-form-item>

      <el-form-item label="Low brightness">
        <el-input-number v-model="state.lowBrightness" :min="0" />
      </el-form-item>

      <el-form-item label="High brightness">
        <el-input-number v-model="state.highBrightness" :min="0" />
      </el-form-item>

      <el-form-item label="Grayscale tolerance">
        <el-input-number v-model="state.grayscaleTol" :min="0" />
      </el-form-item>

      <el-checkbox v-model="state.exportCsv">Export CSV</el-checkbox>

      <br /><br />

      <el-button type="primary" @click="command='do'">
        Run
      </el-button>

    </el-form>
  </sly-field>
</div>
